
@{
    ViewData["Title"] = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form btn-group" method="post">

   <div>
       
       <label>Musteri Adı</label>
       <input type="text" class="form-control" name="MUSTERIAD" />
   </div>
    <div>
        <label>Musteri Soyad</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Musteri Ekle</button>
    </div>
</form>

